body {

}
.txtnoidung {
    border: 0;
    background: none;
    text-align: left;
    border: 0.5px solid #a4a5a7;
    padding: 10px 10px;
    width: 240px;
    outline: none;
    color: #191919;
    border-radius: 8px;
    transition: 0.25s;
    font-size: 18px;
    height: 100px;
    font-family: 'Quicksand';
}